/* ??????????????????????????????? */
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.top-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
a {
  text-decoration: none;
}
.header-navigation {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

:root {
  --color-hh: #4d5ae5;
}

.link {
  margin-top: 48px;
  text-decoration: none;
  color: #2e2f42;
  margin-top: 48px;
  padding: 24px 0;
}
.link-header {
  padding: 24px 0;
}
.logo-style {
  color: #2e2f42;
}
.list {
  list-style: none;
  color: #434455;
}
.list-header {
  padding: 24px 0;
}
.list-advantages {
  padding-top: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 24px;
}
.advantages {
  padding: 120px 0;
}

.list-nav {
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  gap: 40px;
  line-height: 24px;

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.list-nav:hover,
:focus {
  color: #404bbf;
}
.link:hover,
:focus {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.address {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 40px;
  font-style: normal;
  color: #434455;
}
.address:hover,
:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  min-height: 600px;
  padding: 188px 0;
}
.main-title {
  padding-top: 188px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  max-width: 496px;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */

  color: #ffffff;
}

.main-button {
  display: block;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.main-button:focus,
.main-button :hover {
  background-color: #404bbf;
}
.list-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 72px;
  gap: 24px;
}
.list-title {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.list-menu {
  width: calc((100% - 72px) / 4);
}
.list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.work-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  padding-top: 120px;
  margin-bottom: 72px;
  /* identical to box height, or 111% */

  text-align: center;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.work {
  padding-bottom: 120px;
}
.work-li {
  width: calc((100% - 48px) / 3);
}
.list-work {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
}

.team {
  background-color: #f4f4fd;
  min-height: 732px;
  padding: 120px 0;
}
.team-li {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.list-text {
  margin-top: 8px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 32px 16px;
}
.wrapper-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-top: 32px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  padding-top: 120px;
  margin-bottom: 72px;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
  min-height: 312px;
}
.logo-styles {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 264px;
  height: 72px;
  /* or 150% */
  margin-top: 16px;
  letter-spacing: 0.02em;

  /* CLOUD */

  color: #f4f4fd;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  /* identical to box height, or 150% */

  letter-spacing: 0.04em;
  border-radius: 4px;

  /* IRIS */

  color: #4d5ae5;
  border: none;
  cursor: pointer;
}
.button:hover,
:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}
.button:focus {
  background-color: #404bbf;
  border: 1px solid transparent;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: var(--color-hh);
  color: #4d5ae5;
}
.logo-footer {
  margin-top: 100px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.list-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #434455;
}
.link-address {
  color: #434455;
  margin-right: 40px;
}
.link-adr {
  color: #434455;
}
.list-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-list {
  margin-right: 24px;
  border: 1px solid #e7e9fc;
}
.list-partfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 72px;
  margin-bottom: 120px;
  gap: 24px;
  margin-bottom: 72px;
  column-gap: 24px;
  row-gap: 48px;
}
.link-partfolio {
  width: calc((100% - 48px) / 3);
}
.main-nav {
  padding: 96px 0 120px;
}
